@import '../variables';
@import '../mixins';

.control {
	align-items: center;
	background-color: transparent;
	border: rem(1) solid currentColor;
	color: var(--accent-color);
	display: inline-flex;
	justify-content: center;
	padding: rem(5);
	font-size: rem(14);
	cursor: pointer;

	&:focus {
		background-color: var(--accent-color);
		color: var(--main-color);
	}
}