<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	      name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Pure Javascript Excel</title>
</head>
<body class="light">
<div class="dashboard" id="app">
	<div class="dashboardHeader">Sheets Dashboard</div>
	<div class="dashboardNew">
		<div class="container">
			<a class="dashboardNew__link" href="#">+</a>
		</div>
	</div>
	<div class="dashboardTable container">
		<div class="dashboardTable__cell dashboardTable__header">Название</div>
		<div class="dashboardTable__cell dashboardTable__header">Дата</div>

		<a class="dashboardTable__cell" href="#">Таблица 1</a>
		<div class="dashboardTable__cell">08.03.2021</div>
	</div>
</div>
</body>
</html>