@import '../../variables';
@import '../../mixins';

.sheetsTable {
	align-content: flex-start;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 100%;
	overflow-y: scroll;

	&__cell {
		border: 1px solid var(--accent-color);
		margin: 1px;
		min-width: 100px;
		padding: 5px;
		white-space: nowrap;

		&.selected {
			outline: 1px solid var(--accent-color);
		}
	}

	&__header {
		font-weight: 700;
	}
}