@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import '~normalize.css';
@import 'variables';
@import 'mixins';

.light {
	--accent-color: #000;
	--main-color: #fff;
}

.dark {
	--accent-color: #fff;
	--main-color: #000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	@media (min-width: 769px) {
		font-size: 18px;
	}

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

html, body, #app {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--main-color);
	color: var(--accent-color);
}

#app {
	display: flex;
	flex-direction: column;
}

@import 'base/input';
@import 'components/control';
@import 'header';
@import 'headerMain';
@import 'toolbar';
@import 'formula';
@import 'table';